body{
    background-color: #F0B27A;
    font-family: 'Montserrat', sans-serif;
}

.centro{

    background-color: #F7F9F9;
    border: 1px solid black;
    height: 700px;
    align-content: center;
    border-radius: 10px;
}

.titulo{
    text-align: center;
    font-size: 40px;
    color: #EF6C00;
}
.resposta{

}

.numero{

}

.input{
    display: flex;
    justify-content: center;
}

input{
    color: gray;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #CFCFCF;
}

button{
    border-radius: 6px;
    background-color: #EF6C00;
    width: 40%;
    height: 50%;
    border: none;
    font-weight: bold;
}
.novapartida{
    display: flex;
    justify-content: center;
}

.button-np{
    height: 45px;
    width: 25%;
    background: linear-gradient(180deg, #434854 0%, #9E9E9E 100%);
    border-radius: 4px;
}

.text-np{
color: white;
}

.text-inp{
    color: white;
    font-size: 12px;
    font-weight: bold;
}