doctype! html 
<!--[if lt IE 7]><html lang="pt-br" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="pt-br" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="pt-br" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(lang="pt-BR" class="no-js") <!--<![endif]-->
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no")

    <link rel="android-chrome-icon" sizes="512x512" href="/src/images/icons/android-chrome-512x512.png">
    <link rel="android-chrome-icon" sizes="512x512" href="/src/images/icons/android-chrome-512x512.png">
    <link rel="favicon.ico"  href="/src/images/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/src/images/icons/site.webmanifest">

    title #{ htmlWebpackPlugin.options.title }
    meta(name="theme-color" content="#333")
    meta(name="description" content="")
    meta(name='google-signin-client_id' content='')

  body
    include ../layout/header.pug
    block content
    include ../layout/footer.pug
