// Base
@import "./base/reset";
@import "./base/typograph";

// Abstracts
@import "./abstracts/variables";

// Layout
@import "./layout/header";
@import "./layout/footer";

// Components
@import "./components/guess-form";
@import "./components/seven-segments";
@import "./components/new-game-button";

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.titulo {
  text-align: center;
  font-size: 40px;
  color: #ef6c00;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(180deg, #eee, #fff);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
