<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Qual o número?</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/style/style.css'>
    <link rel="android-chrome-icon" sizes="192x192" href="/src/assets/favicon/android-chrome-192x192.png">
    <link rel="android-chrome-icon" sizes="512x512" href="/src/assets/favicon/android-chrome-512x512.png">
    <link rel="android-chrome-icon" sizes="512x512" href="/src/assets/favicon/android-chrome-512x512.png">
    <link rel="favicon.ico"  href="/src/assets/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/src/assets/favicon/site.webmanifest">
</head>
<body>
     
    <div class="centro">
        <div class="titulo">
            <u class="barra">
            <h1> Qual é o número?</h1>
        </u>
        </div>
    <div class="resposta">
        <label>Esse número está correto!</label>
    </div>
    <div class="numero">
        
        <label for="">8</label>

    </div>
    <div class="novapartida">
        <button class="button-np">
            <img src="/src/assets/images/refresh.svg"  >
            <label class="text-np">Nova Partida</label>
        </button>
    </div>

    <div class="input">

        <form >
            <input type="number" name="search" placeholder="Digite o palpite" />

            <input class="bt-enviar" type="button" name="Enviar" value="Enviar"/>
            
        </form>

    </div>
  
       
        
    </div>

    <script src='/src/js/script.js'></script>
</body>

</html>