extend ./base/base

block content
  .content       
    span.response.js-response
    include ./components/seven-segments
    .novapartida
      include ./components/new-game-button 
    include ./components/guess-form